.TH turnserver 1 "October 15, 2009" "TurnServer"

.SH NAME
turnserver  - TURN server implementation

.SH SYNOPSIS
.B turnserver 
.RI [options]

.SH DESCRIPTION
TurnServer is an implementation of Traversal Using Relays around NATs (TURN) protocol. This protocol allows a client to obtain IP addresses and ports from such a relay.
It is most useful for elements behind symmetric NATs or firewalls that wish to be on the receiving end of a connection to a single peer.
TurnServer offers also the possibility to allocate an IPv6 address to IPv4 TURN client and vice-versa.
.br
.br

.SH OPTIONS
TurnServer accepts following options:
.TP
.B -c <configuration_file>
Read configuration from configuration_file. If not specified, default path (/etc/turnserver.conf) is used.

.TP
.B -h 
Show summary of options.

.TP
.B -v 
Show version information and exit.

.SH FILES
.I %etc%/turnserver.conf
.RS
TurnServer configuration see 
.BR turnserver.conf (5) 
for more details.
.RE

.SH AUTHOR
Sebastien Vincent <sebastien.vincent@turnserver.org>

.SH "SEE ALSO"
.BR turnserver.conf (5)
.PP
RFC5389: Session Traversal Utilities for NAT (STUN)
.PP
draft-ietf-behave-turn-16: Traversal Using Relays around NAT (TURN): Relay Extensions to Session Traversal Utilities for NAT (STUN)
.PP
draft-ietf-behave-turn-ipv6-07: Traversal Using Relays around NAT (TURN) Extension for IPv4/IPv6 Transition

